@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap");

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: rgb(26, 26, 26);
}

.editor {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  color: rgb(250, 250, 250);
  font-family: "Klee One";
  font-weight: 600;
  font-style: normal;
  margin-right: 10px;
}

.word {
  display: inline-block;
  font-size: 6rem;
  padding: 0px 8px 16px 8px;
  line-height: 1;
  margin: 16px;
}

.medium {
  font-size: 4rem;
}

.dashed {
  background-image: linear-gradient(
      to right,
      rgb(250, 250, 250),
      rgb(250, 250, 250) 8px,
      transparent 8px
    ),
    linear-gradient(
      to bottom,
      rgb(250, 250, 250),
      rgb(250, 250, 250) 8px,
      transparent 8px
    ),
    linear-gradient(
      to left,
      rgb(250, 250, 250),
      rgb(250, 250, 250) 8px,
      transparent 8px
    ),
    linear-gradient(
      to top,
      rgb(250, 250, 250),
      rgb(250, 250, 250) 8px,
      transparent 8px
    );
  background-size: 16px 4px, 4px 16px, 16px 4px, 4px 16px;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-position: left top, right top, right bottom, left bottom;
}

.dice {
  width: 32px;
  height: 32px;
  margin: 3px;
  transition: all 0.3s;
}

.dice:hover {
  width: 38px;
  height: 38px;
  margin: 0;
}

.action {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.account {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  margin: 12px 16px;
}

.account > img {
  height: 100%;
  width: auto;
  margin-right: 8px;
}

.account > span {
  color: rgb(250, 250, 250);
  font-size: x-large;
}

.mail {
  height: 40px;
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.mail > img {
  height: 100%;
  width: auto;
  margin-right: 8px;
}

.mail > span {
  color: rgb(250, 250, 250);
  font-size: larger;
}

.buttons {
}

.buttons > button {
  border: none;
  color: rgb(250, 250, 250);
  background-color: rgba(0, 0, 0, 0.8);
  font-size: large;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 8px 6px;
  filter: brightness();
  transition: background-color 0.2s;
}

.buttons > button:hover {
  background-color: rgba(25, 25, 25, 1);
}

.buttons > button:first-of-type {
  background-color: rgba(39, 127, 133, 0.7);
  filter: brightness();
  transition: filter 0.2s;
}

.buttons > button:first-of-type:hover {
  filter: brightness(1.2);
}

.over {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 480px) {
  .hero {
    height: 100vh;
  }

  .content {
    flex-direction: column;
  }

  .title {
  }

  .word {
    font-size: 4rem;
    margin: 8px 14px;
  }

  .medium {
    font-size: 2rem;
  }

  .dice {
    width: 26px;
    height: 26px;
    margin: 3px;
    transition: all 0.3s;
  }

  .dice:hover {
    width: 29px;
    height: 29px;
  }

  .account {
    height: 32px;
    margin: 6px 10px;
  }

  .account > span {
    font-size: larger;
  }

  .mail {
    height: 32px;
    margin: 12px 0;
  }

  .mail > span {
    font-size: large;
  }

  .buttons > button {
    margin: 6px;
  }
}
